In [8]:
import wbgapi as wb
import pandas as pd

In [ ]:
help(wb)  
#help(wb.series)

In [11]:
wb.series.info('NY.GDP.PCAP.CD')           # GDP
wb.economy.info(['CAN', 'USA', 'MEX'])     # Countries in North America

id    value          region    incomeLevel
----  -------------  --------  -------------
CAN   Canada         NAC       HIC
MEX   Mexico         LCN       UMC
USA   United States  NAC       HIC
      3 elements

In [12]:
indicadores=wb.data.DataFrame(['SP.POP.TOTL', 'EN.ATM.CO2E.KT'],['PER','ECU','COL','ARG'], time=range(2000, 2020), skipBlanks=False, columns='series')
print(indicadores)

                EN.ATM.CO2E.KT  SP.POP.TOTL
economy time
ARG     YR2000        132268.3   37070774.0
        YR2001        125258.1   37480493.0
        YR2002        117465.0   37885028.0
        YR2003        127656.0   38278164.0
        YR2004        141375.9   38668796.0
...                        ...          ...
PER     YR2015         54553.7   30711863.0
        YR2016         56860.4   31132779.0
        YR2017         54274.3   31605486.0
        YR2018         54590.0   32203944.0
        YR2019         56746.3   32824861.0

[80 rows x 2 columns]

In [18]:
indicadores

                EN.ATM.CO2E.KT  SP.POP.TOTL
economy time
ARG     YR2000        132268.3   37070774.0
        YR2001        125258.1   37480493.0
        YR2002        117465.0   37885028.0
        YR2003        127656.0   38278164.0
        YR2004        141375.9   38668796.0
...                        ...          ...
PER     YR2015         54553.7   30711863.0
        YR2016         56860.4   31132779.0
        YR2017         54274.3   31605486.0
        YR2018         54590.0   32203944.0
        YR2019         56746.3   32824861.0

[80 rows x 2 columns]

In [17]:
# Tu código existente para generar el DataFrame 'indicadores'
indicadores = wb.data.DataFrame(['SP.POP.TOTL', 'EN.ATM.CO2E.KT'], ['PER','ECU','COL','ARG'], time=range(2000, 2020), skipBlanks=False, columns='series')

# Crea un DataFrame de referencia con todos los países y sus nombres correspondientes
paises = pd.DataFrame({'economy': ['PER', 'ECU', 'COL', 'ARG'], 'Country Name': ['Perú', 'Ecuador', 'Colombia', 'Argentina']})

# Utiliza merge para combinar los DataFrames 'indicadores' y 'paises' basándose en la columna 'economy'
indicadores_con_nombres = pd.merge(indicadores, paises, how='left', left_on='economy', right_on='economy')

# Rellena los espacios en blanco con los nombres de los países utilizando el método 'ffill()'
indicadores_con_nombres['Country Name'] = indicadores_con_nombres.groupby('economy')['Country Name'].transform(lambda x: x.ffill())

print(indicadores_con_nombres)

   economy  EN.ATM.CO2E.KT  SP.POP.TOTL Country Name
0      ARG        132268.3   37070774.0    Argentina
1      ARG        125258.1   37480493.0    Argentina
2      ARG        117465.0   37885028.0    Argentina
3      ARG        127656.0   38278164.0    Argentina
4      ARG        141375.9   38668796.0    Argentina
..     ...             ...          ...          ...
75     PER         54553.7   30711863.0         Perú
76     PER         56860.4   31132779.0         Perú
77     PER         54274.3   31605486.0         Perú
78     PER         54590.0   32203944.0         Perú
79     PER         56746.3   32824861.0         Perú

[80 rows x 4 columns]

In [15]:
import pandas as pd

# Tu código existente para generar el DataFrame 'indicadores'
indicadores = wb.data.DataFrame(['SP.POP.TOTL', 'EN.ATM.CO2E.KT'], ['PER','ECU','COL','ARG'], time=range(2000, 2020), skipBlanks=False, columns='series')

# Crea un DataFrame de referencia con todos los países y sus nombres correspondientes
paises = pd.DataFrame({'economy': ['PER', 'ECU', 'COL', 'ARG'], 'Country Name': ['Perú', 'Ecuador', 'Colombia', 'Argentina']})

# Utiliza merge para combinar los DataFrames 'indicadores' y 'paises' basándose en la columna 'Country'
indicadores_con_nombres = pd.merge(indicadores, paises, how='left', left_on='economy', right_on='economy')

# Rellena los espacios en blanco con los nombres de los países
indicadores_con_nombres['Country Name'] = indicadores_con_nombres['Country Name'].fillna(method='ffill')

# Elimina la columna 'Country' si no es necesaria
#indicadores_con_nombres = indicadores_con_nombres.drop('economy', axis=1)

print(indicadores_con_nombres)

   economy  EN.ATM.CO2E.KT  SP.POP.TOTL Country Name
0      ARG        132268.3   37070774.0    Argentina
1      ARG        125258.1   37480493.0    Argentina
2      ARG        117465.0   37885028.0    Argentina
3      ARG        127656.0   38278164.0    Argentina
4      ARG        141375.9   38668796.0    Argentina
..     ...             ...          ...          ...
75     PER         54553.7   30711863.0         Perú
76     PER         56860.4   31132779.0         Perú
77     PER         54274.3   31605486.0         Perú
78     PER         54590.0   32203944.0         Perú
79     PER         56746.3   32824861.0         Perú

[80 rows x 4 columns]

In [57]:
PBI=wb.data.DataFrame(['NY.GDP.PCAP.CD', 'SP.DYN.LE00.IN'],['PER','ECU','USA'], range(2010,2015))#.transpose()
print(PBI)

                              YR2010        YR2011        YR2012  \
economy series
ECU     NY.GDP.PCAP.CD   4640.246344   5202.656459   5678.455721
        SP.DYN.LE00.IN     75.430000     75.743000     76.062000
PER     NY.GDP.PCAP.CD   5047.249307   5826.832307   6475.686070
        SP.DYN.LE00.IN     73.711000     74.133000     74.544000
USA     NY.GDP.PCAP.CD  48650.643128  50065.966504  51784.418574
        SP.DYN.LE00.IN     78.541463     78.641463     78.741463

                              YR2013        YR2014
economy series
ECU     NY.GDP.PCAP.CD   6050.354611   6374.631486
        SP.DYN.LE00.IN     76.369000     76.622000
PER     NY.GDP.PCAP.CD   6697.185268   6614.933339
        SP.DYN.LE00.IN     74.967000     75.333000
USA     NY.GDP.PCAP.CD  53291.127689  55123.849787
        SP.DYN.LE00.IN     78.741463     78.841463

In [50]:
PBI.head(3)

                             YR2010       YR2011       YR2012       YR2013  \
economy series
ECU     NY.GDP.PCAP.CD  4640.246344  5202.656459  5678.455721  6050.354611
        SP.DYN.LE00.IN    75.430000    75.743000    76.062000    76.369000
PER     NY.GDP.PCAP.CD  5047.249307  5826.832307  6475.686070  6697.185268

                             YR2014
economy series
ECU     NY.GDP.PCAP.CD  6374.631486
        SP.DYN.LE00.IN    76.622000
PER     NY.GDP.PCAP.CD  6614.933339

In [45]:
wb.series.info
wb.economy.info

In [46]:
s=wb.search('GDP per capita')
print(s)

========
Series: NY.GDP.PCAP.CD

IndicatorName: GDP per capita (current US$)
--------
Longdefinition: ...GDP per capita is gross domestic product divided by midyear population. GDP is the sum of...
========
Series: NY.GDP.PCAP.CN

IndicatorName: GDP per capita (current LCU)
--------
Longdefinition: ...GDP per capita is gross domestic product divided by midyear population. GDP is the sum of...
========
Series: NY.GDP.PCAP.KD

IndicatorName: GDP per capita (constant 2015 US$)
--------
Longdefinition: ...GDP per capita is gross domestic product divided by midyear population. GDP is the sum of...
========
Series: NY.GDP.PCAP.KD.ZG

IndicatorName: GDP per capita growth (annual %)
--------
Longdefinition: ...Annual percentage growth rate of GDP per capita based on constant local currency. GDP per capita is gross domestic product...
========
Series: NY.GDP.PCAP.KN

IndicatorName: GDP per capita (constant LCU)
--------
Longdefinition: ...GDP per capita is gross domestic product divided by midyear population. GDP at purchaser's...
========
Series: NY.GDP.PCAP.PP.CD

IndicatorName: GDP per capita, PPP (current international $)
========
Series: NY.GDP.PCAP.PP.KD

IndicatorName: GDP per capita, PPP (constant 2017 international $)
--------
Longdefinition: ...GDP per capita based on purchasing power parity (PPP). PPP GDP is gross domestic product...
========
Series: PA.NUS.PPP

Developmentrelevance: ...of PPPs with limitations  include: To analyze changes over time in relative GDP per capita and relative prices | To analyze price convergence | To make spatial...
========
Series: PA.NUS.PRVT.PP

Developmentrelevance: ...of PPPs with limitations  include: To analyze changes over time in relative GDP per capita and relative prices | To analyze price convergence | To make spatial...
========
Series: SE.XPD.PRIM.PC.ZS

IndicatorName: Government expenditure per student, primary (% of GDP per capita)
--------
Longdefinition: ... per student in the given level of education, expressed as a percentage of GDP per capita....
--------
Statisticalconceptandmethodology: ...by the number of students at primary level, expressed as a percentage of GDP per capita. Aggregate data are World Bank estimates....
========
Series: SE.XPD.SECO.PC.ZS

IndicatorName: Government expenditure per student, secondary (% of GDP per capita)
--------
Longdefinition: ... per student in the given level of education, expressed as a percentage of GDP per capita....
--------
Statisticalconceptandmethodology: ...by the number of students at secondary level, expressed as a percentage of GDP per capita. Aggregate data are World Bank estimates....
========
Series: SE.XPD.TERT.PC.ZS

IndicatorName: Government expenditure per student, tertiary (% of GDP per capita)
--------
Longdefinition: ... per student in the given level of education, expressed as a percentage of GDP per capita....
--------
Statisticalconceptandmethodology: ...by the number of students at tertiary level, expressed as a percentage of GDP per capita. Aggregate data are World Bank estimates....
========
Series: SE.XPD.TOTL.PC.ZS

IndicatorName: Expenditure per student, total (% of GDP per capita)
--------
Longdefinition: ...on education divided by the total number of students, as a percentage of GDP per capita. Public expenditure (current and capital) includes government spending on...